<section>
  @if(isSearchClicked){
  <app-search-button (cancleSearch)="onCancleSearch()" />
  }
</section>

<div class="bg-base-100 flex items-center justify-between lg:justify-evenly">
  <div class="">
    <!-- for moblie and tablet version -->
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        [ngClass]="isSearchClicked ? 'hidden' : ''"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/seller-auth">Seller</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/cart">Cart(0)</a></li>
        <!-- search product -->
        <li (click)="handleOpenSearch()" class="flex">
          <div>
            Search
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              height="17px"
            >
              <path
                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
              />
            </svg>
          </div>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <!-- for laptop version -->
  <div class="hidden lg:flex">
    <ul
      [ngClass]="
        isSearchClicked ? 'disabled pointer-events-none opacity-50' : ''
      "
      class="menu menu-horizontal px-1"
    >
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/seller-auth">Seller</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/cart">Cart(0)</a></li>
      <!-- search product -->
      <li (click)="handleOpenSearch()" class="flex">
        <div>
          Search
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            height="17px"
          >
            <path
              d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
            />
          </svg>
        </div>
      </li>
    </ul>
  </div>
  <div class="">
    <a class="btn">Button</a>
  </div>
</div>
